[submodule "modules/rootkit/tests/badguy/submodules/termcolor-c"]
	path = modules/rootkit/tests/badguy/submodules/termcolor-c
	url = https://github.com/ararslan/termcolor-c
[submodule "clients/badguy/submodules/termcolor-c"]
	path = clients/badguy/submodules/termcolor-c
	url = https://github.com/ararslan/termcolor-c
